---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import PostLayout from "@layouts/PostLayout.astro";

const posts = (await getCollection("ongoing-projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout title="Home" sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-3xl py-3 font-bold">Bio</div>
    
    <div class="py-2">
      <text class="text-lg">
        <p>Carlos Jiménez Farfán is graduate research assistant at the 
          <a href="https://www.iri.upc.edu/" class="text-linkblue hover:underline">Institut de Robòtica i Informàtica Industrial (IRI)</a> 
          currently pursuing a Master’s in Artificial Intelligence through a joint program involving
          <a href="https://www.upc.edu/en/" class="text-linkblue hover:underline">Universitat Politècnica de Catalunya (UPC)</a>,
          <a href="https://web.ub.edu/en/" class="text-linkblue hover:underline">Universitat de Barcelona (UB)</a>, and
          <a href="https://www.urv.cat/en/" class="text-linkblue hover:underline">Universitat Rovira i Virgili (URV)</a>. </p>
        
        <p> He obtained his B.Sc. degree in Computer Science from <a href="https://www.espol.edu.ec/en">Escuela Superior Politécnica del Litoral (ESPOL) </a></p>

      </text>
    </div>

  </div>

  <!-- <div class="pb-12 mt-5">
    <!-- <div class="text-xl py-1">Hey there 👋</div> -->
    <!-- <div class="text-5xl font-bold">I</div> -->
    <!-- <div class="text-3xl py-3 font-bold">Research Objectives</div>
    
    <div class="py-2">
      <text class="text-lg">
        <p>
          My research interests lie at the intersection of robotics, embodied AI, and the pursuit of <b>Artificial General
          Intelligence (AGI)</b>. I am fascinated by the idea of enabling robots to <b>generalize not only in the skills they acquire, but
          also in the task representations they encode</b>, effectively allowing them to <it>reason, adapt, and act</it> more efficiently to
          unseen environments. My current focus is integrating <b>Causal Representation Learning</b> with <b>Reinforcement Learning
          (RL)</b> and/or <b>Imitation Learning (IL)</b> to improve the sample efficiency, generalizability and explainability of robotic
          decision-making. 
          My long-term goal is to contribute to the development of <b>generalist robots</b> capable of robust,
          adaptive behavior across diverse real-world tasks.
        </p>

      </text>
    </div>

  </div>  -->

  <div class="pb-12 mt-5">
    <div class="text-3xl py-3 font-bold">News</div>
    
    <div class="py-2">
      <text class="text-lg">
        <ul class="list-disc pl-6">
          <li>
            <p>(July 2025) Started my internship at <a href="http://unith.ai" class="text-linkblue hover:underline">Unith.ai</a>!</p>
            <!-- <p>- I'll be working on diffusion- and flow-based generative models for talking heads</p> -->
          <li> (July 2025) I obtained the <a href="https://sede.csic.gob.es/tramites/programa-jae/convocatoria-jae-intro-icu-2025" class="text-linkblue hover:underline">JAE Intro ICU scholarshiop</a> by CSIC!</li>
        </ul>

      </text>
    </div>

  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Ongoing projects</div>
  
  </div>


  <!-- <HorizontalCard
    title="Causal Representation Learning for V"
    img="/post_img.webp"
    desc="Advised by Dr. Mariella Dimiccoli"
    url="#"
    badge="Master's Thesis - In progress"
  />
  <HorizontalCard
    title="Learning generalizable skills for robotic manipulation through latent space representations"
    img="/post_img.webp"
    desc="Advised by Dr. David Blanco Mulero"
    url="#"
    badge="In Progress"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Learning Occluded Cloth Geometry for Manipulation via Diffusion Models"
    img="/post_img.webp"
    desc="Advised by Dr. Júlia Borràs Sol"
    url="#"
    badge="In Progress"
  /> -->
  <div class="divider my-0"></div>
  

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          // url={"/projects/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
          tags={post.data.tags}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
